a.mfb-component__button--main, a.mfb-component__button--child {
  border-radius: 50% !important;
}

.ion-chevron-down:before {
  color: white;
}

.ion-chevron-up:before {
  color: white;
}

.mfb-component--hide {
  display: none;
}
