#redditNavContainer {
	z-index: 1000000 !important;
}

#redditNavContainer.mfb-component--hide {
  display: none !important;
}

#redditNavContainer .ion-chevron-down::before,
#redditNavContainer .ion-chevron-up::before {
  color: white !important;
}
