#redditNavContainer {
	z-index: 1000000 !important;
}

#redditNavContainer.mfb-component--hide {
  display: none !important;
}

#redditNavContainer .mfb-component__button--main,
#redditNavContainer .mfb-component__button--child {
	background-color: currentColor !important;
}

#redditNavContainer .mfb-component__list > li {
	right: 0 !important;
}

#redditNavContainer .svg {
  width: 15px !important;
  height: 15px !important;
}

#redditNavContainer .svg.chevron-down,
#redditNavContainer .svg.compass {
	padding-top: 1px !important;
}
