#redditNavContainer {
  position: fixed;
  bottom: 15px;
  z-index: 1000000;
}

#redditNavContainer.right {
  right: 20px;
}

#redditNavContainer.left {
  left: 20px;
}

#redditNavContainer.hide {
  display: none;
}

#redditNavContainer > .button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 5px;
}

#redditNavContainer > .button.main {
  z-index: 1;
}

#redditNavContainer > .button.main ~ .button {
  transition: all 500ms 50ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#redditNavContainer:hover > .button.main ~ .button {
  transform: translateY(-70px);
}

#redditNavContainer > .button > a {
  position: relative;
  display: block;
  height: 56px;
  width: 56px;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 4px,
              rgba(0, 0, 0, 0.25) 0 4px 8px;
  cursor: pointer;
}

#redditNavContainer > .button > a::after {
  position: absolute;
  top: 16px;
  padding: 4px 10px;
  content: attr(data-label);
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  opacity: 0;
  transition: opacity 500ms;
}

#redditNavContainer.right > .button > a::after {
  right: 70px;
}

#redditNavContainer.left > .button > a::after {
  left: 70px;
}

#redditNavContainer > .button > a:hover::after {
  opacity: 1;
  transition: opacity 300ms;
}

#redditNavContainer > .button > a > div {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 16px;
  height: 16px;
}

#redditNavContainer > .button.main > a > div {
  transform: rotate(360deg);
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
}

#redditNavContainer:hover > .button.main > a > div {
  transform: rotate(0deg);
}

#redditNavContainer > .button > a > div.chevron-up {
  top: 19px;
}

#redditNavContainer > .button > a > div.compass,
#redditNavContainer:hover > .button.main ~ .button,
#redditNavContainer:hover > .button > a > div.chevron-down {
  opacity: 1;
}

#redditNavContainer > .button.main ~ .button,
#redditNavContainer > .button > a > div.chevron-down,
#redditNavContainer:hover > .button > a > div.compass {
  opacity: 0;
}

#redditNavContainer > .button > a > div > svg {
  width: inherit;
  height: inherit;
}
