body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
}

.section.section--header {
  padding-top: 5px;
  padding-bottom: 0;
  background-color: #FF5722;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  background-image: url('icon128.png');
  height: 4em;
  width: 4em;
} 

.header-text {
  padding-left: 10px;
  letter-spacing: 3px;
}

.nav-text {
  letter-spacing: normal;
  font-weight: bold;
}

.section.section--body {
  color: #727272;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colors-container .color {
  height: 55px;
  width: 25%;
  border: none;
  transition: all 0.3s, ease-out;
}

.colors-container .color:hover {
  z-index: 3;
  -webkit-box-shadow: 2px 10px 49px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 10px 49px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 10px 49px 0px rgba(0,0,0,0.4);
}

.colors-container .color.color--red {
  background-color: #F44336;
}

.colors-container .color.color--orange {
  background-color: #FF5722;
}

.colors-container .color.color--yellow {
  background-color: #FFC107;
}

.colors-container .color.color--green {
  background-color: #4CAF50;
}

.colors-container .color.color--grey {
  background-color: #607D8B;
}

.colors-container .color.color--purple {
  background-color: #673AB7;
}

.colors-container .color.color--blue {
  background-color: #2196F3;
}

.colors-container .color.color--cyan {
  background-color: #00BCD4;
}


/* Materialize Overrides */

.tabs {
  overflow-x: hidden;
  background-color: #FF5722;
}

.tabs .tab a {
  color: #FFCCBC;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: white;
  font-weight: bold;
}

.tabs .tab a:hover {
  background-color: #E64A19;
}

.tabs .indicator {
  background-color: white;
  height: 4px;
}
